    <h3><br>出生届</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <h3><br>ご案内</h3>
            <hr>
            ご出産おめでとうございます。<br>
            こちらでは、出生届の書き方をご案内しています。<br>
            ひとつずつ、書き進めてください。<br>
            <br>
            まずは、届出の年月日です。<br>
            役所に出生届を提出する日付を記入します。<br>
            出生届を記入した日付ではありませんので、気をつけてくださいね。<br>
            <br>
            次に、提出する役所の長を記入します。<br>
            都道府県名は省略しても、問題ありません。<br>
            <br>
            「受理」「送付」が書いてある欄は事務処理欄なので記入は不要です。<br>
            <br>
            <!--ボタン-->
            <%= link_to("/syusyou/1") do %>
            <button type="button" class="btn btn-secondary">進む</button>
            <% end %>
        </div>
    </div>