            <h3><br>父母との続柄</h3>
            <div class="row">
                <!--img-->
                <div class="col-md-6 order-md-2">
                    <div class="syusyou-02-img">
                    </div>
                </div>
                <!--text-->
                <div class="col-md-6 order-md-1">
                    <hr>
                    お子さんは嫡出子（ちゃくしゅつし）です。<br>
                    父母の婚姻中に生まれた子を嫡出子といいます。<br>
                    <br>
                    嫡出子にチェックをつけましょう。<br>
                    その隣に、続柄を書いてください（長男、二女など）。<br>
                    <br>
                    続柄には、何番目の女の子（男の子）であるかを書きます。<br>
                    例えば、２人目のお子さんが男の子だったとしますね。<br>
                    １人目のお子さんが女の子の場合、生まれた男の子は、「長男」です。<br>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <%= link_to("/syusyou/3") do %>
                            <button type="button" class="btn btn-secondary">進む</button>
                            <% end %>
                        </div>
                        <br>
                        <!--ボタン-->
                        <div class="col-6">
                            <%= link_to("/syusyou/1") do %>
                            <button type="button" class="btn btn-secondary">戻る</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>