            <h3><br>父母との続柄</h3>
            <div class="row">
                <!--img-->
                <div class="col-md-6 order-md-2">
                    <div class="syusyou-02-01-img">
                    </div>
                </div>
                <!--text-->
                <div class="col-md-6 order-md-1">
                    <hr>
                    お子さんは非嫡出子（ひちゃくしゅつし）です。婚姻中ではない母から生まれた子を、非嫡出子といいます。<br>
                    <br>
                    非嫡出子にチェックをつけましょう。<br>
                    その隣に、続柄を書いてください（長男、二女など）。<br>
                    <br>
                    続柄には、お母さんから見て何番目の女の子（男の子）であるかを書きます。<br>
                    例えば、２人目のお子さんが男の子だったとしますね。<br>
                    １人目のお子さんが女の子の場合、生まれた男の子は、「長男」です。<br>
                    <br>
                    非嫡出子の場合、お母さんから見た続柄を戸籍に記録します。
                    仮に、１人目も２人目も女の子のお子さんで、１人目と２人目のお父さんが違う場合でも、女の子の続柄は「長女」、「二女」です。<br>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <%= link_to("/syusyou/3") do %>
                            <button type="button" class="btn btn-secondary">進む</button>
                            <% end %>
                        </div>
                        <br>
                        <!--ボタン-->
                        <div class="col-6">
                            <%= link_to("/syusyou/1") do %>
                            <button type="button" class="btn btn-secondary">戻る</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>