    <h3><br>本籍</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-06-01-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            <h4>本籍</h4>
            <hr>
            まず、「本籍」の欄です。<br>
            こちらの欄には、子の母の本籍を記入します。<br>
            <br>
            本籍は住所とは違うものです。そして、住所と本籍が違う場所になっていることも多いです。<br>
            <br>
            非嫡出子の場合、生まれたお子さんのお母さんは、婚姻したことがなく、まだ両親の戸籍にいることも多いです。<br>
            この場合、お母さんの本籍は、お母さんのご両親の本籍と同じです。<br>
            ご両親に聞くなどして本籍を書いてください。<br>
            <br>
            <h4>筆頭者</h4>
            <hr>
            次に、筆頭者の欄です。<br>
            筆頭者は世帯主とは違います。<br>
            先ほどの、生まれたお子さんのお母さんが、まだお母さんのご両親の戸籍にいる例だと、筆頭者は、お母さんのご両親のどちらかです。<br>
            <br>
            戸籍の筆頭者は、その夫婦が、夫と妻、どちらの氏（名字・姓）を使っているかで判断できます。<br>
            ご両親が夫の氏を使っている場合は、筆頭者はお父さんで、妻の氏を使っている場合、筆頭者はお母さんです。<br>
            <br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/7") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/5") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>