    <h3><br>本籍</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-06-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            <h4>本籍</h4>
            <hr>
            まず、「本籍」の欄です。<br>
            こちらの欄には、父母の本籍を記入します。<br>
            <br>
            本籍は住所とは違います。なので、住所と本籍は違う場所であることも多いです。婚姻届を届け出たときに決めた本籍であることが多いです。<br>
            <br>
            正確な本籍は、「本籍地が記録された住民票」を取得するとわかりますが、お金がかかります。<br>
            <br>
            本籍地の誤記で不受理となることはないと思いますので、どうしてもわからなければ、わかるところまで書いて提出しましょう。<br>
            <br>
            <h4>筆頭者</h4>
            <hr>
            次に、筆頭者の欄です。筆頭者は住民票上の世帯主とは違います。<br>
            <br>
            夫婦のどちらが筆頭者なのかを判断する基準は、夫婦が、夫と妻、どちらの氏（名字・姓）を使っているかです。<br>
            <br>
            夫婦が夫の氏を使っている場合は、筆頭者は夫、妻の氏を使っている場合、筆頭者は妻です。<br>
            <br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/7") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/5") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>