    <h3><br>生まれたとき・生まれたところ</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-03-01-img">
            </div>
            <br>
            <div class="syusyou-03-02-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            次は、「生まれたとき」と「生まれたところ」の欄です。<br>
            こちらの欄には、お子さんが生まれた時刻と、生まれた病院の場所を記入します。<br>
            <br>
            具体的には、出生証明書の「生まれたとき」「出生したところ」の欄をそのまま転記してください。<br>
            <br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/4") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/2") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>