<h3><br>父母の氏名・生年月日</h3>
<div class="row">
    <!--text-->
    <div class="col-md-6 order-md-2">
        <div class="syusyou-05-01-img">
        </div>
    </div>

    <!--Concept_img-->
    <div class="col-md-6 order-md-1">
        <hr>
        次は、「父母の氏名・生年月日」の欄です。<br>
        こちらの欄には、母の氏名と生年月日を記入します。<br>
        お子さんの父母は婚姻していないので、父の欄は空欄にしてください。<br>
        <br>
        間違いが多いところとしては、生年月日の横の、満年齢ですね。<br>
        「届出日」の年齢ではなくて、「お子さんが生まれた日」の年齢です。<br>
        <br>
        <br>
        <!--ボタン-->
        <div class="row">
            <div class="col-6">
                <%= link_to("/syusyou/6") do %>
                <button type="button" class="btn btn-secondary">進む</button>
                <% end %>
            </div>
            <br>
            <!--ボタン-->
            <div class="col-6">
                <%= link_to("/syusyou/4") do %>
                <button type="button" class="btn btn-secondary">戻る</button>
                <% end %>
            </div>
        </div>
    </div>
</div>