    <h3><br>届出人欄</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-09-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            最後に届出人欄を記入します。<br>
            <br>
            まず、届出人の資格は、父、母のどちらかにチェックを入れてください。<br>
            <br>
            窓口に出生届を持って行く人＝届出人ではなく、出生届の届出人欄に署名をした人が届出人です。<br>
            <br>
            出生届の届出人欄は母が記入して、実際に窓口に持ってくるのは父でも問題はありません。そして、父と母、どちらが届出人となるかは任意です。<br>
            <br>
            さきほど、父、母のどちらかにチェックを入れてくださいとお伝えしましたが、父母両方にチェックを入れて、届出人「父母」とすることもできます。<br>
            <br>
            ただし、届出人を「父母」としたい場合は、届出人欄には父母両方の住所、本籍、生年月日、署名、押印が必要です。<br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/10") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/8") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>