    <h3><br>同居を始めたとき</h3>
    <h3><br>子が生まれたときの世帯の主な仕事と父母の職業</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-07-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            <h4>同居を始めたとき</h4>
            <hr>
            <br>
            人口動態という統計のための項目です。夫婦が同居を始めた年月、または、結婚式を挙げた年月の早い方を、覚えている範囲で書いてください。<br>
            <br>
            <h4>子が生まれたときの世帯の主な仕事</h4>
            <hr>
            あてはまるところにチェックを入れてください。<br>
            <br>
            おおむね、農業が１、自営業が２、お勤めでしたら３か４。とご案内していました。<br>
            <br>
            ３と４の違いは会社の従業員数です。お勤めの会社の従業員数が１００人以上でしたら４です。１００人未満でしたら３でよいかと思います。<br>
            <br>
            父母の職業を記入する必要があるのは、国勢調査がある年だけです。前回の国勢調査は２０２０年でしたので、次の国勢調査がある２０２４年まで、こちらの欄は空欄で問題ありません。
            <br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/8") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/6") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>