    <h3><br>その他</h3>
    <hr>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-08-01-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            お子さんのお母さんが、ご両親の戸籍にいる場合は、お子さんが生まれたことによって、ご両親の戸籍から抜けます。<br>
            <br>
            ご両親の戸籍から抜けた後は、お母さんとお子さんの２人で、新しい戸籍を作ることになります。<br>
            出生届では、新しい戸籍をどこに作るかを、その他欄に書いていただきます。<br>
            <br>
            <h4>新本籍</h4>
            <hr>
            新本籍の場所はどこでもいいです。<br>
            ただ、気をつけていただきたいところが２つあります。<br>
            <br>
            <h5>１．戸籍謄本が必要な場合あり</h5>
            <hr>
            ひとつは、新本籍をいままでの本籍と違う区市町村に設定する場合です。この場合は、出生届に戸籍謄本を添付する必要があります。事前にご取得ください。<br>
            いままでと同じ区市町村に設定する場合は戸籍謄本は不要です。<br>
            <br>
            <h5>２．新本籍の場所</h5>
            <hr>
            もうひとつは、新本籍を設定する場所の確認です。<br>
            注）ここからの内容は、出生届を実際に窓口に提出しに行ける方には必要のない手続きです。<br>
            窓口が開いていない時間帯に提出を予定されている方のみ、ご対応をお願いします。<br>
            <br>
            <br>
            <h5>新本籍の確認方法</h5>
            <hr>
            新本籍はどこでも設定できますが、あくまでも「新本籍として設定ができる場所」に限ります。<br>
            そして、とても不便なのですが、「新本籍として設定ができる場所」は、各区市町村しか知りません。<br>
            なので、お手数ですが、事前に新本籍を設定する自治体あてに電話確認をお願いします。<br>
            <br>
            新本籍については、次のとおり聞いていただければ、確実にわかります。
            <br>
            <br>
            <div class="question">
                １．新本籍を設定したい区市町村の代表電話にかける<br>
                ２．「戸籍の届出を受けつける係」につないでもらう<br>
                ３．「新本籍の設定ができる地番かどうか教えてほしい」と伝え、設定する予定の新本籍を伝える<br>
            </div>
            <br>
            ここまでしていただくと、「そのまま書いて問題ない」または「そのままではダメなので○○と書いてほしい」と回答があると思います。<br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/9") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/7/1") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>