    <h3><br>届出人欄</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-09-01-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            最後に届出人欄を記入します。<br>
            <br>
            まず、届出人の資格は、母にチェックを入れてください。非嫡出子のお子さんの場合、母が届出義務者です。<br>
            <br>
            窓口に出生届を持って行く人＝届出人ではなく、出生届の届出人欄に署名をした人が届出人です。<br>
            <br>
            実際に出生届を窓口にお持ちいただく方は、生まれたお子さんのおばあちゃんでも問題はありません。ですが、届出人欄については、ご負担ですが必ず母のご署名をお願いしますね。<br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/10") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/8") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>