    <h3><br>住所</h3>
    <div class="row">
        <!--text-->
        <div class="col-md-6 order-md-2">
            <div class="syusyou-04-img">
            </div>
        </div>

        <!--Concept_img-->
        <div class="col-md-6 order-md-1">
            <hr>
            次は、「住所」の欄です。<br>
            こちらの欄には、お子さんを住民登録する住所を記入します。<br>
            <br>
            世帯主がお子さんの父母どちらかであれば、「世帯主との続柄」は、「子」です。<br>
            <br>
            もし、お子さんから見て祖父母の方が世帯主なのであれば、「世帯主との続柄」は「子の子」です。<br>
            「孫」ではないので気をつけてくださいね。
            <br>
            <br>
            <!--ボタン-->
            <div class="row">
                <div class="col-6">
                    <%= link_to("/syusyou/5") do %>
                    <button type="button" class="btn btn-secondary">進む</button>
                    <% end %>
                </div>
                <br>
                <!--ボタン-->
                <div class="col-6">
                    <%= link_to("/syusyou/3") do %>
                    <button type="button" class="btn btn-secondary">戻る</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>